#big-banner {
    height: 80vh;
    background-repeat: no-repeat;
    /* background-size: cover; */
} 
body {
    background-color: rgb(193, 187, 173);
}

h1 {
    font-family: 'Chelsea Market', cursive;
    position: center;
    top: 30%;
    text-align: center;
    font-size: 65px;
    color: rgb(179, 41, 41);
}
h2 {
    font-size: 38px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(65, 31, 31);
    text-align: center;
}
.panel-heading {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#burger-order-subtitle {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#burger-order {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#btn-devour {
    width: 200px;
}
input#newBurger {
    border-radius: 8px;
    height: 50px;
}
button#addBurger {
    height: 40px;
    width: 110px;
    color: white;   
    font-size: 14px;
}
#footer-content {
    opacity: 50%;
}